:root
{
    /* >>>>>>>>>>>>>>>>>>Colors<<<<<<<<<<<<<<<< */
    --clr-primary: hsl(25, 88%, 66%);
    --clr-primary-light: hsl(25, 88%, 75%);

    --clr-brown-100: hsl(10, 5%, 25%);
    --clr-brown-200: hsl(9, 7%, 21)%;
    --clr-brown-300: hsl(9, 8%, 16%);
    --clr-brown-400: hsl(0, 6%, 15%);
    --clr-brown-500: hsl(0, 6%, 13%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-gray: hsl(0, 2%, 79%);

    --clr-accent-light: hsl(143, 19%, 49%);
    --clr-accent: hsl(143, 38%, 37%);
    --clr-accent-dark: hsl(144, 30%, 20)%;

    --clr-red: hsl(359, 34%, 37%);
    --clr-burnt-orange: hsl(28, 43%, 37%);
    --clr-teal: hsl(186, 42%, 37%);

    /* >>>>>>>>>>>>>>>> typography <<<<<<<<<<<<<<*/

    --fs-title: clamp(3.75rem, 1.5rem + 5.6vw, 7.5rem);
    --fs-section-heading: clamp(2.25rem, 1.65rem + 1.5vw, 3rem);
    --fs-heading: clamp(1.5rem, 1.1rem + 1vw, 2rem);
    --fs-body-lg: 1.25rem;
    --fs-body-md: 1.125rem;
    --fs-body-reg: 1rem;
    --fs-body-sm: 0.875rem;

    @media (min-width: 64em)
    {
        --fs-body-lg: 1.5rem;
        --fs-body-md: 1.25rem;
    }

     /* >>>>>>>>>>>>>>>> nav-toggle <<<<<<<<<<<<<<*/

    .nav-toggle
{
    --btn-size: 28px;      /* outer, including borders */
    --bar-height: 2px;
    --bar-spread: 8px;   /* distance from centre to each outer bar */
    --border: 1px;

    width: var(--btn-size);
    height: var(--btn-size);

    --centre: calc((var(--btn-size) - 2 * var(--border) - var(--bar-height)) / 2);
}

}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> body <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

body
{
    background-color: var(--clr-brown-300);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> navigation <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
.site-header
{
    background-color: var(--clr-brown-300);
    padding-block: 5px;
    padding-inline: 10px;
}
.site-header__wrapper
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-toggle
{
    display: inline-block;
    border: 1px solid transparent;
    margin-left: auto;
    background: none;
    /* width: 32px;
    height: 32px; */
    position: relative;
    padding: 0;
    cursor: pointer;
}
.nav-toggle span
{
    position:absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--clr-primary);
    transition: transform 350ms ease-out, opacity 200ms;
}

.nav-toggle .middle
{
    top: calc((var(--btn-size) - 2 * var(--border) - var(--bar-height)) / 2);
}
.nav-toggle .top
{
    top: calc((var(--btn-size) - 2 * var(--border) - var(--bar-height)) / 2 - var(--bar-spread));
}
.nav-toggle .bottom
{
    top: calc((var(--btn-size) - 2 * var(--border) - var(--bar-height)) / 2 + var(--bar-spread));
}

.site-header.is-open .nav-toggle .middle
{
    opacity: 0;
}
.site-header.is-open .nav-toggle .top
{
    transform: translateY(var(--bar-spread)) rotate(45deg);
}
.site-header.is-open .nav-toggle .bottom
{
    transform: translateY(calc(var(--bar-spread) * -1)) rotate(-45deg);
}

.site-nav
{
    order: 3;
    width: 100%;
    display: none;
}
.site-header.is-open .site-nav
{
    display: block;
}
.site-nav ul
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 45em)
{
    .nav-toggle
    {
        display: none;
    }
}